<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Cafe San Telmo</h1>
  <%= line_break(70) %>
  <%= image_tag ("cafe-san-telmo.png"), size: "330x167", class: "center", alt: "The Cafe San Telmo menu" %>
  <p class="abstract">Cafe San Telmo is open for coffee and a light breakfast Monday - Friday from 8am until 11.30am.</p>
  <div class="page_break"></div>

  <div id="menu-wrapper">
    <div class="menu-links">
      <%= link_to('/assets/cafe-san-telmo-placemat.pdf', :target => '_blank') do %>
        <!-- <i class="fa fa-download"></i> -->
        <%= image_tag("cafe-san-telmo-placemat.jpg", :size => "460x325 ", :alt => "Cafe San Telmo Placemat") %>
      <% end %>
    </div>  
  </div>
  <p>Enter through Windsor Place to enjoy 5 Senses Coffee made by our dedicated barista, alongside our house baked Argentinian treats or an antioxidant rich blend of Brazilian super fruit Acai.</p>
  <p>Don't miss out on our early bird coffee, $3 between 8am and 9am.</p>
  <div id="spacer"></div>
</div>