<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Events</h1>
  <%= line_break(66) %>
  <ul class="events">
    <li>
      <%= image_tag("events/san-telmo-gnocchi-day.jpg", :size => "450x250", :alt => "Gnocchi Day Banner") %>
      <h2>Gnocchi Day</h2>
      <p>San Telmo invites you to celebrate Dia de Noquis (Gnocchi Day) on Monday September 30.</p>
      <%= link_to "Read more…", "http://link.restaurantdiary.com.au/v/443/f36b478f79684b96eb9e6fbaa0246b9d7b705c7b49f670da", :target => '_blank' %>
    </li>
    <div class="page_break"></div>
    <li>
      <%= image_tag("events/san-telmo-spring-roast.jpg", :size => "450x250", :alt => "Sunday Asado Banner") %>
      <h2>Sunday Asado</h2>
      <p>Every Sunday at San Telmo we take an Argentinian approach to the traditional Sunday roast, with delicious meat slow roasted on our Parrilla, served with chimichurri and perfectly matched with a class of malbec.</p>
      <%= link_to "Read more…", "http://link.restaurantdiary.com.au/v/443/f36b478f79684b96ec272ca962de0f2c7b705c7b49f670da", :target => '_blank' %>
    </li>
  </ul>  
  <div id="spacer"></div>
</div>