<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Events</h1>
  <%= line_break(66) %>
  <ul class="reviews">
    <li>
      <%= image_tag("press/gormet_traveler.png", :size => "75x75", :alt => "Gormet Traveller logo") %>
      <h2>Australian Gourmet Traveller - September 2012</h2>
      <p>"Wow we made 88th best Restaurant in Australia so proud of the team!"</p>
      <%= link_to "Read more…", "http://www.gourmettraveller.com.au/restaurant_top100.htm", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/hereld-sun.png", :size => "75x75", :alt => "The Hereld Sun logo") %>
      <h2>The Herald Sun - November 2012</h2>
      <p>"Table trend: What a cheek" - Check out the popularity of the pork Jowl</p>
      <%= link_to "Read more…", "http://www.heraldsun.com.au/lifestyle/food/what-a-cheek/story-fng5gy73-1226513445034", :target => '_blank' %>
    </li>
  </ul>
  <div class="page_break"></div>
  
  <div id="spacer"></div>
</div>