<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Press</h1>
  <%= line_break(70) %>
  <ul class="reviews">
    <li>
      <%= image_tag("press/gormet_traveler.png", :size => "75x75", :alt => "Gormet Traveller logo") %>
      <h2>Australian Gourmet Traveller - September 2012</h2>
      <p>"Wow we made 88th best Restaurant in Australia so proud of the team!"</p>
      <%= link_to "Read more…", "http://www.gourmettraveller.com.au/restaurant_top100.htm", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/hereld-sun.png", :size => "75x75", :alt => "The Hereld Sun logo") %>
      <h2>The Herald Sun - November 2012</h2>
      <p>"Table trend: What a cheek" - Check out the popularity of the pork Jowl</p>
      <%= link_to "Read more…", "http://www.heraldsun.com.au/lifestyle/food/what-a-cheek/story-fng5gy73-1226513445034", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/theage.png", :size => "75x75", :alt => "The Age logo") %>
      <h2>The Age Epicure - August 2012</h2>
      <p>"Turn up the heat", Glen stokes the coals on the parrilla during a busy service for the Age is there anything he can't do..."</p>
      <%= link_to "Read more…", "http://www.theage.com.au/entertainment/restaurants-and-bars/turn-up-the-heat-20120825-24srx.html", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/petitmiamx.png", :size => "75x75", :alt => "Petit Miam x logo") %>
      <h2>Petit Miam x - August 2012</h2>
      <p>A Melbourne food blog</p>
      <%= link_to "Read more…", "http://www.theage.com.au/entertainment/restaurants-and-bars/favourite-52-20120825-24sqm.html", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/theage.png", :size => "75x75", :alt => "The Age logo") %>
      <h2>The Age Epicure - August 2012</h2>
      <p>Look for us in #22, "Best Vegie"" and #40, "Best Steak" - so much great stuff in Victoria!</p>
      <%= link_to "Read more…", "http://www.theage.com.au/entertainment/restaurants-and-bars/favourite-52-20120825-24sqm.html", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/gormet_traveler.png", :size => "75x75", :alt => "Gormet Traveller logo") %>
      <h2>Australian Gourmet Traveller - January 2012</h2>
      <p>"San Telmo’s fire - Buenos Aires has arrived in Melbourne: San Telmo is an authentic Argentine treat, writes Michael Harden."</p>
      <%= link_to "Read more…", "http://gourmettraveller.com.au/san-telmo-melbourne-restaurant-review.htm", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/theage.png", :size => "75x75", :alt => "The Age logo") %>
      <h2>The Age Epicure - December 2011</h2>
      <p>"It's a modern twist on tradition, a bit like San Telmo is a Melbourne twist on a faraway country"</p>
      <%= link_to "Read more…", "http://www.theage.com.au/entertainment/restaurants-and-bars/san-telmo-20111217-1ozb7.html", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/taste.png", :size => "75x75", :alt => "taste.com.au logo") %>
      <h2>taste.com.au - The Herald Sun - December 2011</h2>
      <p>"Opening out on to two alleys, San Telmo is a bustling, L-shaped space that divides between a firepit at the front and a bar at the back"</p>
      <%= link_to "Read more…", "http://www.taste.com.au/news+features/articles/3556/san+telmo", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/broadsheet.png", :size => "75x75", :alt => "Broadsheet logo") %>
      <h2>Broadsheet, By Martine Holberton - October 2011</h2>
      <p>"Melbourne’s first parrilla brings Argentinean cooking over hot coals to Melbourne with it’s opening today on Meyers Place"</p>
      <%= link_to "Read more…", "http://www.broadsheet.com.au/melbourne/food-and-drink/article/hot-coal-cooking-buenos-aires-san-telmo", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/melb-gastro.png", :size => "75x75", :alt => "Melbourne Gastronome logo") %>
      <h2>Melbourne Gastronome - October 2011</h2>
      <p>"I'm thrilled that Melbourne too now has a big glam restaurant that places Argentinean grilled meat centre stage"</p>
      <%= link_to "Read more…", "http://www.melbournegastronome.com/2011/10/first-glimpse-of-san-telmo-melbournes.html", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/weekly-review.png", :size => "75x75", :alt => "The Weekly Review logo") %>
      <h2>The Weekly Review, Kendall Hill - October 2011</h2>
      <p>"The San Telmo experience is as good as anything you will find in Buenos Aires and almost as authentic"</p>
      <%= link_to "Read more…", "http://www.theweeklyreview.com.au/article-display/San-Telmo/4568", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/time-out.png", :size => "75x75", :alt => "Time Out Melbourne logo") %>
      <h2>Time Out, Melbourne - September 2011</h2>
      <p>"Giddy up, meat fans. San Telmo has ridden into town like an Argentinean gaucho (that’s a cowboy, kids), brandishing hefty slabs of flame-grilled cow and some serious Buenos Aires swagger"</p>
      <%= link_to "Read more…", "http://www.au.timeout.com/melbourne/restaurants/venues/919/san-telmo", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/agenda.png", :size => "75x75", :alt => "Agenda logo") %>
      <h2>Agenda, Melbourne</h2>
      <p>"Bringing Argentinean BBQ and the barrio to the CBD"</p>
      <%= link_to "Read more…", "http://www.theagendadaily.com/melbourne/restaurants-2/san-telmo/", :target => '_blank' %>
    </li>
    <li>
      <%= image_tag("press/tourism-vic.png", :size => "75x75", :alt => "Tourism Victoria logo") %>
      <h2>Tourism Victoria</h2>
      <p>"Traditional Argentinean BBQ fires up in Melbourne"</p>
      <%= link_to "Read more…", "http://www.tourism.vic.gov.au/piecesofvictoria/december_2011/index.php?page=melbourne_wining_and_dining_hotspots", :target => '_blank' %>
    </li>
  </ul>
  <div id="spacer"></div>
</div>