<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="menu">
  <div id="menu_wrapper">
    <%= link_to(main_index_path, :class => 'pjax') do %>
      <%= image_tag("logo.png", :size => "200x84 ", :alt => "San Telmo Logo", :id => 'logo') %>
    <% end %>
    <div id="nav">
      <%= nav_link 'Philosophy', main_philosophy_path %>
      <%= nav_link 'Menu', main_menu_path %>
      <%= nav_link 'Drinks', main_drinks_path %>
      <%= nav_link 'Reservations', main_reservations_path %>
      <%= nav_link 'Gallery', main_gallery_path(:page => 1), params[:action] == 'gallery' %>
  <!--     <%= nav_link 'Press', main_press_path %> -->
      <%= line_break %>
    </div>
    <div id="footer">
      <%= link_to("http://twitter.com/#!/San_Telmo_") do %>
        <div id="twitter" class="social"></div>
      <% end %>    
      <%= link_to("https://www.facebook.com/pages/San-Telmo/238471602841880") do %>
        <div id="facebook" class="social"></div>
        <div class="fb-like" data-href="https://www.facebook.com/pages/San-Telmo/238471602841880" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true" data-colorscheme="dark" data-font="lucida grande"></div>
        <a href="https://twitter.com/San_Telmo_" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-show-count="false">Follow @San_Telmo_</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
      <% end %>
      <br />
      <%= line_break %>
      <p>Phone: +61 (3) 9650 5525<br />
        Fax: +61 (3) 9650 5526</p>
      <p>
        14 Meyers Pl, Melbourne 3000<br/>
        BTW Bourke & Lt Collins Sts</p>
      <a href="mailto:info@santelmo.com.au">info@santelmo.com.au</a>
      <%= line_break %>
    </div>
  </div>
</div>