<!DOCTYPE html>
<html>
<head>
  <title>San Telmo - Argentinian Bar and Restaurant</title>
  <%= stylesheet_link_tag :all %>
  <link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/menu' %>
  <div id="bg">
    <%= yield %>
  </div>
</body>
</html>
