<!DOCTYPE html>
<html>
<head>
  <title>San Telmo - Argentinian Bar and Restaurant</title>
  <%= stylesheet_link_tag :all %>
  <link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css">
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="menu">
  <img id="logo" src="images/logo.png" alt="San Telmo Logo" width="200px" height="84" />
  <div id="nav">
    <%= line_break %>
    <a href="/">Home</a>
    <%= line_break %>
    <a>Menu</a>
    <%= line_break %>
    <a>Drinks</a>
    <%= line_break %>
    <a>Reservations</a>
    <%= line_break %>
    <a>Gallery</a>
    <%= line_break %>
    <a>Press</a>
    <%= line_break %>
    <a>contact</a>
    <%= line_break %>
  </div>
  <div id="footer">
    <img class="social" src="images/twitter.png" alt="Twitter" width="32px" height="31px" />
    <img class="social" src="images/facebook.png" alt="Facebook" width="31px" height="31px" />
    <br />
    <%= line_break %>
    <p>Phone (03) 9650 5525</p>
    <p>14 Meyers Place, Melbourne CBD</p>
    <%= line_break %>
  </div>
</div>
<%= yield %>
</body>
</html>
